* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgba(0, 0, 255, 0.212);
}
/* Navbar */

.navbar{
    position: fixed;
    background-color: black;
    padding: 15px;
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
    margin-left: -50px;
}

.navbar ul li {
    margin-left: -5px;
}

.navbar ul li:first-child {
    margin-left: 0;
}

.contact {
    margin-right: 50px;
}


.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 50px;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

img {
    height: 10vh;
    width: 150%;
}



/* acceuil */

.accueil {
    position: absolute;
    top: 30%;
    margin-left: 100px;
}

.accueil h1 {
    font-size: 3em;
    margin-left: 500px;
}
.accueil p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}




/* commen */


.commen {
    position: absolute;
    top: 60%;
    margin-left: 100px;
}

.commen h2{
    color: blue;
    font-size: 2.2em;
}

.commen input {
    height: 100px;
    width: 300px;
}
/* footer */

.foot {
    position: absolute;
    top: 100%;
    margin-left: 800px;
    color: blue;
}

.qui {
    position: absolute;
    top: 30%;
    margin-left: 100PX;
}

.qui h1 {
    font-size: 2.2em;
}

.qui p {
    margin-top: 20px;
    font-size: 1.5em;
}
.filiere {
    position: absolute;
    top: 30%;
    margin-left: 100PX;
}
.filiere h1 {
    font-size: 2.2em;
}
.filiere li {
    margin-top: 20px;
    font-size: 1.5em;
}
.filiere h2 {
    margin-top: 10px;
    font-size: 1.9em;
}
.ma {
    position: absolute;
    top: 30%;
    margin-left: 100PX;
}
.map {
    position: absolute;
    top: 40%;
    margin-left: 100PX;
    font-size: 1.5em;
}
.contacte {
    position: absolute;
    top: 30%;
    margin-left: 100PX;
}

form{
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button {
    border: none;
    width: 55%;
    margin: 1px 0;
    padding: 15px 10px;
    font-size: 1.2em;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}

button:hover {
    background-color: #e55039;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}